---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="Juliet">What's in a name?</h1>
<!-- <img alt="pine" src="/images/pine.png" width="50" /> -->
<button><strong>Generate a random name</strong></button>

<!-- <p class="testing">Trying things out</p> -->