---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1 class="Juliet">What's in a name?</h1>
<h1>this is a test2</h1>
<button @click="alert(nameList[0])"><strong>Generate a random name</strong></button>

<!--{% gen_name 'nameList' %};-->

<!--{% test %};-->
